[Unit]
Description = Linux Factory test app
After=network.target

[Service]
Type=simple
User=lfapp
Group=lfapp
WorkingDirectory=/opt/lf-app
ExecStart=/usr/bin/python3 -m http.server 8080 --directory /opt/lf-app/public
Restart=on-failure

[Install]
WantedBy=multi-user.target
